.header {
  color: rgb(149, 192, 163);
  margin:auto;
  width: 50%;
  padding: 10px;
  font-size: calc(40px + 2vmin);
}
.country {
  font-size: calc(20px + 2vmin);
  margin-right: 20px;
}
.probability {
  font-size: calc(20px + 2vmin);
}

.form-wrapper , .task-wrapper{
  justify-content: center;
  display: flex;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  margin-top: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
}